#gallery {
    overflow: hidden;
    height: 100vh;
}
img {
    height: 100%;
    display: block;
    margin: 0 auto;
    animation: galleryAnimation 10s linear infinite;
}
@keyframes galleryAnimation {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}