$primary-color:#343C6A;
body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
}

.page {
    display: flex;
    flex-direction: row;

.sidebar {
    width: 15%;
    height: 100vh; 
    padding: 1rem;
    border-right: 1px solid #E6EFF5; 


.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
.logo-name {
    color: $primary-color;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: -1rem;



.menu-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: $primary-color;
    cursor: pointer;
}

.menu-item img {
    margin-right: 1rem;
    &.chosen {
        margin-left: -32px;
&.dashboard {
   margin-right: 60px;
}
}
}
}
}

.header {
    border-bottom: 2px solid #F5F7FA; 
    width: 80%;
    height: 65px;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    .page-name {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
    }

    .header-right {
        display: flex;
        gap: 2rem;
    
        img {
            cursor: pointer;
            background-color: #F5F7FA;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            padding: 8px;
    
            &.profile {
               width: 34px;
               height: 34px;
               padding: 0%;
            }
        }
    }

        .search-container {
            position: relative;
            display: flex;
            width: 255px;

            .search-icon {
                position: absolute;
                left: 10px;
                margin-left: 10px;
                margin-top: 22px;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                padding: 5px;
            }

            .search-input {
                padding-left: 48px;
                height: 40px;
                border-radius: 20px;
                background-color: #F5F7FA;
                border: 0px solid;
                width: 100%;
            }
        }
    }
}

